* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*burguer menu*/
header {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;

}


.abrirmenu,
.cerrarmenu {
    display: none;
}

@media (max-width:540px) {
    .logo{
        padding-top: 10px;
    }
    .nav {
        display: none;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .abrirmenu,
    .cerrarmenu {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }
    .cerrarmenu{
        color: #ececec;
       
    }

    .abierto{
        display: flex;
    }

    .visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        text-decoration: none;
        color: #ececec;
    }
}

/*prefix*/
.layout {
    display: grid;
    gap: 4px;
    grid-template-rows: 40px 40px auto 60px 60px 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'footer' 'div' 'section';
}

/*nav bar*/
.logo {
    width: 20%;
    padding-left: 30px;
}

.logo img {
    width: 70px;
    height: 70px;
}
.nav_bar{
    align-items: end;
    position: absolute;
    right: 0;
}
.nav_bar ul li{
    background-color: aqua;
    padding: 8px;
    font-size: 15px;
    justify-content: space-between;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.nav_bar ul li a{
    text-decoration: none;
    color: black;
}
